# 1. In the below elements which of them are values or an expression? 
eg:- values can be
integer or string and expressions will be mathematical operators.

# * => Mulplication   
# 'hello' => String  
# -87.8 => Float  
# - => Substraction  
# / => Division  
# + => Addition  
# 6 => Integer

# 2. What is the difference between string and variable ?

String:

1) String is one of the data type in python.  
2) It is a sequence of character which stored the data or information in the textual format.   
3) String must be defined in single or double in Python or nay other peogramming language.  
   Such as 'Python', "Machine Learning" etc.   
    
Variables:  

1) Variable is defined to stored some information for which we can used it multiple times whenever we needed it.  
   Varaible is also called as containers which stored some data values. Data value such Integer, String, Float etc.

# 3. Describe three different data types.

1) Integer:-     
       Integer data type is used to stored the numerical values. It is used one of the used data type in python.   
       Numerical data such as 1, 6, 7, 8, 10 etc.    
 
2) Float:-  
       Float data are used to stored numerical value with decimal points. Such as 10.5, 5.8, 7.4, 3.4 etc.  
        
3) List:-   
       List is used to stored the sequence of various types of data. List is mutuable it means we can modify the element even
       after we created. It is an ordered sequence of elements.  
        
       For example:-  
           
            l1 = [20, 'Python', "Machine Learning", "4.6"]

# 4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands that is interpreted to produce some other value.   

A combination of operands and operators is called an expression.   
The expression in Python produces some value or result after being interpreted by the Python interpreter. An expression in 
Python is a combination of operators and operands.  

Example:-   
    An example of expression can be : x = x + 50  
    In this expression, the first 50 is added to the variable x. After the addition is performed, the result is assigned to 
    the variable x.

In [1]:
x = 20
x = x + 50
x

70

# 5. This assignment statements, like spam = 10. What is the difference    between an expression and a statement?

An expression in Python is very different from statements in Python. A statement is not evaluated for some results.      
A statement is used for creating variables or for displaying values.    

An expression evaluates to a single value. A statement does not

# 6. After running the following code, what does the variable bacon contain? 

   # bacon = 22   
   # bacon + 1

In [2]:
bacon = 22
bacon + 1

23

# 7. What should the values of the following two terms be ?
# 'spam' + 'spamspam'  
# 'spam' * 3

In [3]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

Because Variable can not start with number. Variable must begin with alphabet or (_) underscore.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value
passed to them.

# 10. Why does this expression cause an error? How can you fix it?
# 'I have eaten'+ 99 + 'burritos'

In [2]:
'I have eaten'+ 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

The expression return an error because 99 is an integer, only strings can be concatenated to other strings with the + operator.  
For this expression, the correct way is 'I have eaten ' + str(99) + ' burritos.'.

In [3]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'